/* ----------------------------------------------------------- INDEX */
/* 1. Resets
 * 2. General Classes
 * 3. Layouts (dims)
 * 4. Skins (colors)
 * 5. Font definitions (fonts)
 * 6. Elements                                                       */
/* ---------------------------------------------------------- RESETS */
html {
  /* so frame does not float around when x-scrolling on pad */
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

ul, li {
  list-style: none; }

a {
  text-decoration: none; }
  a:visited, a:focus, a:active {
    outline: none; }

img {
  width: 100%;
  height: auto; }

/* ------------------------------------------------- GENERAL CLASSES */
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.row-centered {
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.row-vCentered {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.cols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.cols-centered {
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.sticky {
  position: -webkit-sticky;
  position: sticky; }

.uppercase {
  text-transform: uppercase; }

/* ---------------------------------------------------------  LAYOUT */
.main-header,
.content {
  max-width: 1225px;
  margin: auto; }

.main-header {
  height: 200px;
  padding-left: 112px;
  padding-right: 112px; }
  .main-header .logo {
    width: 200px; }

.modules main.content, .docs main.content {
  padding: 0 112px; }

footer {
  width: 100%;
  height: 222px;
  margin-top: 120px;
  padding: 46px 0 20px 0; }
  footer .content {
    height: 100%;
    padding: 0 80px; }
  footer .footer-logo {
    display: inline-block;
    width: 38px;
    height: 38px; }
  footer .footer-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    footer .footer-menu .menu-item {
      padding-bottom: 10px; }
  footer .footer-releases p {
    margin-bottom: 5px; }

/* footer positioning of elements
 * because of display flex column changing position
 * of one could affect other                        */
footer .footer-logo {
  float: left; }
  footer .footer-logo img {
    position: relative;
    top: -10px;
    left: -35px; }
footer .footer-releases {
  position: relative;
  top: 4px;
  left: -72px; }
footer .footer-github {
  position: relative;
  top: -4px;
  left: -99px; }
  footer .footer-github img {
    margin-right: 19px;
    margin-top: 1px;
    width: 26px;
    height: 26px; }

/* ----------------------------------------------------------- SKINS */
.print {
  background: none;
  color: black; }
  .print .code-block, .print .code-line {
    background: none;
    color: black; }
  .print footer {
    display: none; }

body {
  background-color: #2C2E31;
  color: #fafafa; }

p {
  color: inherit; }

a {
  color: #00d8d8; }
  a:hover {
    color: #fafafa; }

footer {
  background-color: #1B1D1E;
  color: #fafafa; }
  footer a {
    color: #fafafa; }
    footer a:hover {
      color: #00d8d8; }

.highlight {
  color: #00d8d8; }

.shade {
  color: #f8f8f8; }

.sticky {
  background-color: #2C2E31; }

/* ---------------------------------------------------- HR */
hr {
  border: none;
  border-top: 1px solid #f8f8f8; }
  hr.hr-shade {
    border-color: #979797; }
  hr.hr-light {
    border-color: rgba(222, 229, 255, 0.16); }

/* ---------------------------------------------- DECO-BAR */
.highlight-bar {
  border: #00d8d8;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5088ea+0,a4dd74+50,a4dd74+51,5088ea+100 */
  background: #5088EA;
  background: -webkit-gradient(linear, left top, right top, from(#5088EA), color-stop(50%, #A4DD74), color-stop(51%, #A4DD74), to(#5088EA));
  background: -o-linear-gradient(left, #5088EA 0%, #A4DD74 50%, #A4DD74 51%, #5088EA 100%);
  background: linear-gradient(to right, #5088EA 0%, #A4DD74 50%, #A4DD74 51%, #5088EA 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5088EA', endColorstr='#A4DD74',GradientType=1 );
  -webkit-animation: bg_move 4s infinite;
          animation: bg_move 4s infinite; }

@-webkit-keyframes bg_move {
  0% {
    background-position: 0px; }
  50% {
    background-position: 2220px; }
  100% {
    background-position: 4440px; } }

@keyframes bg_move {
  0% {
    background-position: 0px; }
  50% {
    background-position: 2220px; }
  100% {
    background-position: 4440px; } }
/* ---------------------------------------------- NAV-BARS */
/* --------------------------------- NAV-BAR-1 */
/* HEADER NAV BAR */
.nav-bar-1 .menu-item a {
  color: #fafafa; }
  .nav-bar-1 .menu-item a:hover, .nav-bar-1 .menu-item a.selected {
    color: #00d8d8;
    border-top: 2px solid #fafafa; }

.features #main-nav a[href="/"],
.features #main-nav a[href*="index"],
.quickstart #main-nav a[href*="quickstart"],
.docs #main-nav a[href*="documentation"],
.modules #main-nav a[href*="modules"] {
  color: #00d8d8;
  border-top: 2px solid #fafafa; }

/* --------------------------------- NAV-BAR-2 */
/* DOCUMENTATION NAV BAR */
.nav-bar-2 .menu-item a {
  color: #fafafa; }
  .nav-bar-2 .menu-item a:hover, .nav-bar-2 .menu-item a.selected {
    border-bottom: 2px solid #00d8d8; }

.docs .guide #docs-nav a[href*="guide"],
.docs .api #docs-nav a[href*="api"],
.docs .examples #docs-nav a[href*="examples"] {
  border-bottom: 2px solid #00d8d8; }

/* --------------------------------------------- SEARCH BAR */
.search-bar-1 {
  color: #fafafa; }
  .search-bar-1 input {
    background-color: transparent;
    color: #fafafa;
    border-color: #f8f8f8; }
    .search-bar-1 input:hover, .search-bar-1 input:focus {
      border: 1px solid #00d8d8;
      outline: none; }

/* -------------------------------------------- PAGINATION */
.pagination {
  color: #8a9199; }
  .pagination a {
    color: #8a9199;
    margin-left: -2px;
    border: 2px solid #a1acb7;
    border-left: none; }
    .pagination a:hover {
      color: #ffffff;
      background-color: #00d8d8;
      border-color: #00d8d8;
      position: relative;
      z-index: 2; }
  .pagination li:first-child a {
    border-left: 2px solid #a1acb7; }
    .pagination li:first-child a:hover {
      border-left: 2px solid #00d8d8; }
  .pagination .active a {
    border: 2px solid #00d8d8;
    position: relative;
    z-index: 2; }
  .pagination .prev:before,
  .pagination .next:after {
    border: 1px solid #8a9199;
    border-top: none;
    border-right: none; }

/* ----------------------------------------------- BUTTONS */
/* ------------------------------- BLACK BUTTON */
.black-btn {
  color: #f8f8f8;
  background-color: #2c2c31;
  border: 1px solid #f8f8f8;
  -webkit-box-shadow: 5px 5px 5px #212121;
          box-shadow: 5px 5px 5px #212121; }
  .black-btn.fade {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .black-btn.fade:hover {
      color: #2c2c31;
      background-color: #f8f8f8;
      border-color: #f8f8f8; }

/* -------------------------------- GRAY BUTTON */
.gray-btn {
  color: #2c2c31;
  background-color: #f8f8f8;
  border: 1px solid #2c2c31;
  -webkit-box-shadow: 5px 5px 5px #212121;
          box-shadow: 5px 5px 5px #212121; }
  .gray-btn.fade {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .gray-btn.fade:hover {
      color: #f8f8f8;
      background-color: #2c2c31;
      border-color: #f8f8f8; }

/* -------------------------------- BLUE BUTTON */
.blue-btn {
  color: #00d8d8;
  background-color: #2C2E31;
  border: 1px solid #00d8d8; }
  .blue-btn.fade {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .blue-btn.fade:hover {
      color: #2C2E31;
      background-color: #00d8d8;
      border-color: #00d8d8; }

/* ------------------------------------------------ LABELS */
.label {
  color: #ffffff; }
  .label.highlight {
    color: #2c2c31;
    border: 1px solid #00d8d8;
    background-color: #00d8d8; }
  .label.green {
    border: 1px solid #36af47;
    background-color: #36af47; }
  .label.blue {
    border: 1px solid #1991eb;
    background-color: #1991eb; }
  .label.red {
    border: 1px solid #ed1c24;
    background-color: #ed1c24; }
  .label.black {
    border: 1px solid #516173;
    background-color: #516173; }
  .label.orange {
    border: 1px solid #f7981c;
    background-color: #f7981c; }
  .label.light-gray {
    color: #2c2c31;
    border: 1px solid #dfe1e5;
    background-color: #dfe1e5; }
  .label.dark-gray {
    border: 1px solid #c2cad4;
    background-color: #c2cad4; }

/* -------------------------------------------- CODE-BLOCK */
.code-block,
.code-block-1,
.code-line,
p code,
li code {
  background-color: #1b1d1d; }

/* ------------------------------------------------- POSTS */
.post {
  border-top: 1px solid #979797; }
  .post:last-of-type {
    border-bottom: 1px solid #979797; }
  .post .title,
  .post .title a {
    color: #fafafa; }

/* --------------------------------------------- DOCS MENU */
.bg-menu {
  background-color: #2C2E31; }

/* ----------------------------------------- DOCS SIDEMENU */
.side-menu .menu-item a,
.side-menu li a {
  color: #fafafa; }
  .side-menu .menu-item a:hover,
  .side-menu li a:hover {
    color: #00d8d8; }

/* ------------------------- QUICKSTART INSTRUCTION BLOCKS */
.instruction_block .description,
.instruction_block .button-wrapper,
.instruction_block .code-wrapper {
  border-left: 1px solid #979797; }

/* circle number */
.instrus .title::before {
  border: 1px dashed #979797; }

/* ------------------------------------- BACKGROUND SHAPES */
/* ----------------- #bg top page svg elements */
#bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1; }

/* show content, z-index needs position set */
.highlight-bar,
.main-header,
.content {
  position: relative;
  z-index: 2; }

#header_path_bottom,
#header_path_middle,
#header_path_top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0; }
  #header_path_bottom path,
  #header_path_middle path,
  #header_path_top path {
    mix-blend-mode: multiply; }

#header_path_middle svg,
#header_path_top svg {
  width: 100%; }

#header_path_bottom svg {
  width: 103%; }

#header_path_bottom g,
#header_path_middle g {
  opacity: 0.239999995; }

#header_path_top g {
  opacity: 0.204993207; }

/* ------------ #bg-2 bottom page svg elements */
body {
  position: relative; }

#bg-2 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; }

#filter-bottom {
  height: 1825px;
  background: -o-linear-gradient(291deg, #2C2E31 49.5%, #2E2F33 49.5%);
  background: linear-gradient(159deg, #2C2E31 49.5%, #2E2F33 49.5%); }

/* show content, z-index needs position set */
footer {
  position: relative;
  z-index: 2; }

/* ------------------------------------------------ FONT_DEFINITIONS */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 18px; }

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit; }

p, a, code, pre {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit; }

footer {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 14px;
  font-weight: 300; }

/* ----------------------------------------------- HEADERS */
.h-biggest {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 64px;
  font-weight: 300; }

.h-big {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 48px;
  font-weight: 300; }

.h-small {
  font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 28px; }

.h-smaller-bold {
  font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  letter-spacing: 0.13px; }

/* ---------------------------------------------- TEXT (p) */
.p-big-1 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 20px; }

.p-big-2 {
  font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 20px;
  line-height: 26px; }

.p-medium-1 {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 18px; }

.p-medium-2 {
  font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  letter-spacing: 0.1px;
  line-height: 24px; }

.p-medium-3 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 18px;
  letter-spacing: 0.1px;
  line-height: 24px; }

.p-small {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 16px;
  line-height: 24px; }

.p-small-light {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.09px; }

.p-smallest {
  font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px; }

.light {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300; }

/* -------------------------------------------------- CODE */
code {
  font-family: "Courier Bold", Courier, monospace; }

.code-block,
.docs .main-txt pre {
  font-family: Monaco, monospace;
  font-size: 16px; }
  .code-block .title,
  .docs .main-txt pre .title {
    font-family: "Courier New", Courier, monospace;
    font-size: 14px; }

.code-block-2 {
  font-family: "Courier Bold", Courier, monospace;
  font-size: 15px; }
  .code-block-2 .title {
    font-family: "Courier Bold", Courier, monospace;
    font-size: 15px;
    font-weight: bold; }

/* ---------------------------------------------- NAV BARS */
/* --------------------------------- NAV-BAR-1 */
/* HEADER NAV BAR */
.nav-bar-1 {
  font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 18px; }

/* --------------------------------- NAV-BAR-2 */
/* DOCUMENTATION NAV BAR */
.nav-bar-2 {
  font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  line-height: 16px; }

/* ----------------------------------------- DOCS SIDEMENU */
.side-menu {
  font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px; }
  .side-menu .menu-item-submenu,
  .side-menu ul ul li {
    font-size: 16px; }

/* -------------------------------------------- SEARCH BAR */
.search-bar-1 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 28px; }

/* -------------------------------------------- PAGINATION */
.pagination {
  font-size: 16px;
  font-weight: 200; }

/* ----------------------------------------------- BUTTONS */
/* --------------------------------- BIG BUTTON */
.big-btn {
  font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 500; }

/* ------------------------------ MEDIUM BUTTON */
.medium-btn {
  font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500; }

/* ------------------------------------------------ LABELS */
.label {
  font-family: "Montserrat-Bold", Helvetica, sans-serif;
  font-size: 10px; }

/* -------------------------------------- FOOTER COPYRIGHT */
.footer-copyright {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 13px;
  text-align: center; }
  .footer-copyright > * {
    font-family: inherit;
    font-size: inherit; }

/* ------------------------------------------------- POSTS */
.post .title {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 28px; }
.post .tag {
  font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px; }
.post .description {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 16px;
  line-height: 26px; }

/* ------------------------------- DOCUMENTATION MAIN TEXT */
.docs .main-txt h1, .docs .main-txt h2 {
  font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  letter-spacing: 0.13px; }
.docs .main-txt h3, .docs .main-txt h4 {
  font-size: 20px; }
.docs .main-txt h5, .docs .main-txt h6 {
  font-size: 16px; }
.docs .main-txt h1, .docs .main-txt h2, .docs .main-txt h3, .docs .main-txt h4, .docs .main-txt h5, .docs .main-txt h6 {
  font-weight: 600; }
.docs .main-txt p, .docs .main-txt ul, .docs .main-txt ol {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.09px; }

/* -------------------------- QUICKSTART INSTRUCTION BLOCK */
/* circle number */
.instrus .title::before {
  font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px; }

/* -------------------------------------------------------- ELEMENTS */
/* ---------------------------------------------------- HR */
hr {
  width: 100%;
  height: 0; }
  hr.hr-small {
    width: 53px;
    border-width: 3px; }
  hr.hr-medium {
    width: 50%; }

/* ---------------------------------------------- DECO-BAR */
.highlight-bar {
  width: 4440px;
  height: 4px; }

/* ---------------------------------------------- NAV-BARS */
/* --------------------------------- NAV-BAR-1 */
/* HEADER NAV BAR */
.nav-bar-1 ul {
  position: relative;
  top: -4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .nav-bar-1 ul .menu-item {
    margin-left: 2px; }
    .nav-bar-1 ul .menu-item a {
      padding: 7px 17px; }
    .nav-bar-1 ul .menu-item:last-child {
      margin-right: -17px; }

/* --------------------------------- NAV-BAR-2 */
/* DOCUMENTATION NAV BAR */
.nav-bar-2 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .nav-bar-2 ul .menu-item {
    margin-right: 10px; }
    .nav-bar-2 ul .menu-item a {
      padding: 13px; }

/* --------------------------------------------- SEARCH BAR */
.search-bar-1 {
  width: 100%;
  padding: 20px 60px 60px;
  position: relative; }
  .search-bar-1 input {
    display: inline-block;
    width: 100%;
    height: 78px;
    border: 1px solid white;
    border-radius: 3px;
    padding-left: 25px;
    font-size: inherit;
    font-family: inherit;
    line-height: 78px; }
  .search-bar-1 .icon {
    position: absolute;
    top: 45px;
    right: 100px; }
    .search-bar-1 .icon:hover {
      cursor: pointer; }

/* -------------------------------------------- PAGINATION */
.pagination {
  margin: 85px 0 20px;
  height: 44px; }
  .pagination ul {
    height: inherit; }
  .pagination li {
    height: inherit;
    min-width: 47px;
    float: left; }
    .pagination li a {
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .pagination li:first-child a {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px; }
    .pagination li:last-child a {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px; }
  .pagination .prev,
  .pagination .next {
    width: 78px; }
  .pagination .prev:before,
  .pagination .next:after {
    content: "";
    width: 7.5px;
    height: 7.5px; }
  .pagination .prev:before {
    margin-right: 5px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
  .pagination .next:after {
    margin-left: 5px;
    -webkit-transform: rotate(225deg);
        -ms-transform: rotate(225deg);
            transform: rotate(225deg); }

/* --------------------------------------- LINK PAGINATION */
.link-pagination {
  margin-top: 111px; }

/* ----------------------------------------------- BUTTONS */
/* --------------------------------- BIG BUTTON */
.big-btn {
  display: inline-block;
  width: 200px;
  height: 53px;
  line-height: 51px;
  border-width: 1px;
  border-radius: 3px;
  text-align: center; }
  .big-btn:hover {
    cursor: pointer; }

/* ------------------------------ MEDIUM BUTTON */
.medium-btn {
  display: inline-block;
  width: 155px;
  height: 44px;
  line-height: 40px;
  border-width: 2px;
  border-radius: 5px;
  text-align: center; }
  .medium-btn:hover {
    cursor: pointer; }

/* ---------------------------- DOWNLOAD BUTTON */
.button.download span {
  position: relative;
  padding-left: 14px;
  top: 3px; }
  .button.download span:before {
    content: "";
    background: url("../img/icons/white-github-512.png");
    background-size: cover;
    width: 26px;
    height: 26px;
    display: inline-block;
    position: relative;
    top: 8px;
    left: -22px; }
.button.download:hover span:before {
  background: url("../img/icons/black-github-512.png");
  background-size: cover; }

/* ------------------------------------------------ LABELS */
.label {
  display: inline-block;
  min-width: 47px;
  height: 20px;
  margin-right: 13px;
  padding: 0 7px;
  line-height: 20px;
  border-radius: 3px;
  text-align: center; }

/* -------------------------------------------- CODE-BLOCK */
.code-block {
  padding: 9px 20px;
  border-radius: 4px; }
  .code-block .header {
    padding-bottom: 39px;
    position: relative; }
    .code-block .header .window-controls {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      position: absolute;
      top: 3px;
      left: 0; }
      .code-block .header .window-controls button {
        width: 13px;
        height: 13px;
        margin: 0 4.3333333333px;
        border-radius: 6.5px;
        border: none;
        padding: 0;
        text-indent: -99999px; }
        .code-block .header .window-controls button:first-child {
          margin-left: 0; }
        .code-block .header .window-controls button:last-child {
          margin-right: 0; }
        .code-block .header .window-controls button:hover {
          -webkit-filter: brightness(130%);
                  filter: brightness(130%);
          border: none; }
        .code-block .header .window-controls button:focus {
          outline: none; }
      .code-block .header .window-controls .close {
        background-color: red; }
      .code-block .header .window-controls .minimize {
        background-color: yellow; }
      .code-block .header .window-controls .maximize {
        background-color: green; }
  .code-block .title {
    width: 100%;
    display: inline-block;
    text-align: center; }
  .code-block code, .code-block pre {
    display: block;
    margin-bottom: 19px; }
    .code-block code.tab-1, .code-block pre.tab-1 {
      padding-left: 45px;
      margin-top: -10px; }
    .code-block code.code-tight, .code-block pre.code-tight {
      margin-bottom: 0; }

.code-block-2 {
  padding: 22px 25px; }

/* --------------------------------------------- CODE-LINE */
.code-line {
  height: 60px;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px; }

/* ------------------------------------------- INLINE CODE */
p code, li code {
  padding: 0 4px 2px 4px;
  border-radius: 2px; }

/* --------------------------------------------------- FEATURES PAGE */
.features .paragraph-1 {
  padding: 68px 93px 60px 112px; }
  .features .paragraph-1 hr {
    margin: 13px 0 25px 0; }
  .features .paragraph-1 .subheader {
    margin-bottom: 32px; }
  .features .paragraph-1 .side-img {
    width: 361px;
    height: 100%; }
    .features .paragraph-1 .side-img img {
      margin: -20px 0 0 35px;
      height: 100%; }
  .features .paragraph-1 .button {
    margin-right: 22px;
    margin-bottom: 52px;
    display: inline-block; }
  .features .paragraph-1 .p-smallest {
    margin-left: 7px; }
.features .hero-img {
  width: 1064px;
  height: 577px;
  margin: -20px 66px 30px 94px; }
.features .paragraph-2 {
  padding-left: 80px;
  padding-right: 115px;
  margin-top: 322px; }
  .features .paragraph-2 > div:last-child {
    margin-right: 3px; }
  .features .paragraph-2 hr {
    margin: 26px 0 28px 4px; }
  .features .paragraph-2 .code-block {
    min-width: 466px;
    min-height: 331px;
    margin-left: 11px; }
  .features .paragraph-2 h2 {
    margin-top: -7px; }
.features .paragraph-3 {
  padding-left: 116px;
  padding-right: 225px;
  margin: 367px 0 350px -2px; }
  .features .paragraph-3 hr {
    margin: 23px 0 30px 2px; }
  .features .paragraph-3 .subheader {
    margin-bottom: 36px; }

/* ---------------------------------------------------- MODULES PAGE */
.modules {
  min-height: 100vh;
  overflow: hidden; }
  .modules .content {
    min-height: calc(100vh - 542px); }
  .modules .pagination {
    display: none; }

.posts {
  margin-top: 70px; }
  .posts .message-box {
    display: none;
    border: none; }

.post {
  width: 100%;
  min-height: 204px;
  padding: 32px 90px 27px 61px; }
  .post .title {
    position: relative;
    left: -1px; }
  .post .tag {
    position: relative;
    right: 3px;
    top: 2px; }
  .post .description {
    margin: 9px 0 24px;
    width: 655px; }

/* ------------------------------------------------- QUICKSTART PAGE */
.quickstart .paragraph-1 {
  padding-left: 248px;
  padding-right: 196px;
  margin-bottom: -20px; }
  .quickstart .paragraph-1 .h-small {
    letter-spacing: 2px; }
  .quickstart .paragraph-1 .subheader {
    margin-top: 23px; }
  .quickstart .paragraph-1 .side-img {
    width: 300px;
    height: 310px;
    padding: 51px 20px 51px 28px; }
.quickstart .paragraph-2 {
  margin-left: 30px;
  padding-left: 271px; }
  .quickstart .paragraph-2 .subheader {
    margin-top: 16px; }
    .quickstart .paragraph-2 .subheader ul {
      margin-top: 5px; }
      .quickstart .paragraph-2 .subheader ul li {
        list-style-type: disc;
        margin-left: 15px; }
        .quickstart .paragraph-2 .subheader ul li > * {
          margin-left: -3px; }

.instrus {
  padding-left: 197px;
  padding-right: 91px;
  /* circle number */
  counter-reset: instrus -1; }
  .instrus hr {
    width: 505px;
    margin: 68px 0 86px 164px; }
  .instrus .instruction_block {
    /* circle number */
    counter-increment: instrus;
    /* to have vertical line = border-left
     * margin can't be set here,
     * instead padding-bottom on each
     * last element of the instruction block */ }
    .instrus .instruction_block .description,
    .instrus .instruction_block .button-wrapper,
    .instrus .instruction_block .code-wrapper,
    .instrus .instruction_block .paragraph-2 {
      margin-left: 30px;
      padding-left: 55px; }
    .instrus .instruction_block:last-of-type .description {
      border: none; }
    .instrus .instruction_block:last-of-type .last {
      padding-bottom: 0; }
  .instrus .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .instrus .title::before {
      /* circle number */
      content: counter(instrus);
      width: 60px;
      height: 60px;
      margin-right: 20px;
      border-radius: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
  .instrus .description {
    max-width: 675px;
    padding-top: 6px;
    padding-bottom: 30px;
    line-height: 26px; }
    .instrus .description p.last {
      padding-bottom: 55px; }
  .instrus .button-wrapper {
    padding-bottom: 114px; }
  .instrus .code-line {
    width: 850px;
    margin: 28px 0 32px 0; }
  .instrus .code-wrapper {
    padding-bottom: 117px; }
    .instrus .code-wrapper .code-block {
      padding-top: 14px;
      padding-left: 27px; }

/* ---------------------------------------------- DOCUMENTATION PAGE */
.docs main.content {
  margin-top: -4px; }
  .docs main.content > .row {
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
    margin-top: 56px; }
.docs .hr-light {
  margin-top: 13.9px;
  z-index: 1; }
.docs .nav-bar-2 .menu-item {
  z-index: 2; }
.docs .bg-menu {
  width: 2000px;
  height: 125px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; }
.docs .nav-bar-2,
.docs .label,
.docs hr {
  z-index: 2; }
.docs .side-menu {
  width: 255px;
  margin-top: 8px;
  padding-left: 1px; }
  .docs .side-menu a {
    display: inline-block; }
  .docs .side-menu .menu-item,
  .docs .side-menu ul > li {
    margin-bottom: 16px; }
  .docs .side-menu .submenu, .docs .side-menu ul ul {
    margin: 15px 0 0 18px; }
  .docs .side-menu .menu-item-submenu,
  .docs .side-menu ul ul > li {
    margin-bottom: 10px; }
.docs .main-txt {
  width: 730px; }
  .docs .main-txt .title, .docs .main-txt h1, .docs .main-txt h2 {
    margin-bottom: 14px; }
    .docs .main-txt .title:first-child, .docs .main-txt h1:first-child, .docs .main-txt h2:first-child {
      margin-top: 0; }
  .docs .main-txt h3, .docs .main-txt h4, .docs .main-txt h5, .docs .main-txt h6 {
    margin-bottom: 10px; }
  .docs .main-txt h1, .docs .main-txt h2, .docs .main-txt h3, .docs .main-txt h4, .docs .main-txt h5, .docs .main-txt h6 {
    margin-top: 54px; }
  .docs .main-txt .description, .docs .main-txt p {
    max-width: 623px; }
  .docs .main-txt p {
    margin-bottom: 24px; }
  .docs .main-txt .code-block {
    width: 714px;
    margin-top: 56px; }
    .docs .main-txt .code-block code {
      padding: 0px 14px;
      margin-top: 0; }
  .docs .main-txt pre {
    width: 714px;
    margin-bottom: 24px; }
    .docs .main-txt pre code {
      padding: 34px;
      border-radius: 4px; }
  .docs .main-txt ul, .docs .main-txt ol {
    margin-bottom: 24px; }
  .docs .main-txt ul li:before {
    content: "*";
    margin: 0 10px 0 14px;
    position: relative;
    top: 5px; }
  .docs .main-txt ol li {
    list-style: decimal;
    margin-left: 34px; }
    .docs .main-txt ol li > * {
      margin-left: 7px; }
.docs .sticky.nav {
  top: 0;
  margin-top: -20px;
  padding-bottom: 20px;
  z-index: 2; }
  .docs .sticky.nav .row {
    padding-top: 20px; }
.docs .sticky.side-menu {
  top: 140px;
  z-index: 1; }
