.api section {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #3F3F41;
}

.api h2, .api h3 {
  font-weight: bold;
}

.api section p {
  margin: 16px 0;
}

.api section .quiet {
  opacity: .7;
  margin-top: 8px;
  padding: 8px 0;
  line-height: 30px
}

.api section .code-line {
  margin: 16px 0;
}

.api section .prose code {
  font-weight: bold;
}

.api .submenu {
  margin: 12px 0 0 14px;
}

.api .submenu ul  {
  margin-top: 14px;
}

.api .submenu ul:first-of-type {
  margin-top: 0;
}

.api .menu-item-submenu.title {
  font-size: 14px;
  opacity: .7;
  margin-left: -18px;
}

.api .anchorjs-link {
  margin-top: 3px;
}

.display-none {
  display: none;
}

.api .element-member {
  margin-bottom: 5px;
}

.api .toggle-sibling:hover {
  cursor: pointer;
}

.api table {
  margin: 20px 0;
  border-collapse: collapse;
  font-size: 16px;
  text-align: left;
}

.api table thead,
.api table td {
    border: 1px solid #2C2E31;
}

.api table th,
.api table td {
  padding: 8px;
}
