name: test-package

permissions:
  contents: read

on:
  push:
    branches: [ main ]
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node-version: ['18', '20', '22']

    steps:

    - uses: actions/checkout@v6

    - name: Set up Node ${{ matrix.node-version }}
      uses: actions/setup-node@v6
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'

    - name: Install dependencies
      run: npm install

    - name: Run tests
      run: |
        npm test

    - name: Upload coverage report to Codecov
      run: |
        npm run coverage
        bash <(curl -s https://codecov.io/bash)
